[submodule "EfficientDet"]
	path = EfficientDet
	url = https://github.com/xuannianz/EfficientDet.git
[submodule "Yolo-to-COCO-format-converter"]
	path = Yolo-to-COCO-format-converter
	url = https://github.com/Taeyoung96/Yolo-to-COCO-format-converter.git
